
body {
    margin: 0%;
}

main {
    padding: 5% 0;
    background-image: url('../image/fondo2.jpg');
    background-size: cover; 
    background-position: center; 
}

section {
    margin-bottom: 10%;
}

h2 {
    color: #101012;
    font-size: 28px;
    margin-bottom: 2%;
}



#quienes-somos,
#nuestra-mision,
#nuestra-vision,
#nuestro-equipo {
    background-color:rgba(255, 255, 255, 0.6);
    padding: 2%;
    color: #000000;
    font-size: 20px;
    line-height: 1;
    margin-left: 3%;
    margin-right: 3%;
    border-radius:3%;
}
#quienes-somos,
#nuestra-mision {
    background-color:rgba(255, 255, 255, 0.3);
}
#nuestra-vision {
    background-color:rgba(255, 255, 255, 0.4);
}
@media screen and (max-width: 768px) {
    body {
        font-size: medium;
    }
    main {
        padding: 5% 0;
    }
    section {
        display: block;
    }

    h2 {
       margin-bottom: 1%;
    }

    #quienes-somos, 
    #nuestra-mision, 
    #nuestra-vision,
    #nuestro-equipo {
        padding: 2%;
    }
   
    
}

