
body {
    margin: 0%;
}

main {
    padding: 5% 0;
    background-image: url('../image/fondo2.jpg');
    background-size: cover; /*  la imagen cubre todo el elemento */
    background-position: center; /* centrar la imagen */
}

section {
    margin-bottom: 5%;
}

h2 {
    color: #101012;
    font-size: 28px;
    margin-bottom: 15px;
}

p {
    color: #51515c;
    font-size: 18px;
    line-height: 1.5;
}

#quienes-somos,
#nuestra-mision,
#nuestra-vision,
#nuestro-equipo {
    background-color:azure;
    padding: 2%
    
}
@media screen and (max-width: 768px) {
    body {
        font-size: medium;
    }
    main {
        padding: 5% 0;
    }
    section {
        display: block;
    }

    h2 {
       margin-bottom: 10px;
    }

    #quienes-somos, 
    #nuestra-mision, 
    #nuestra-vision,
    #nuestro-equipo {
        padding: 1%;
    }
   
    
}

