body {
    margin-left: 5%;
    margin-right: 5%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    text-align: center;
}


thead tr {
    background-color: #0a1b27;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}


tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #0a1b27;
}


td,
th {
    padding: 12px 15px;
}


tbody tr:hover {
    background-color: #f1f1f1;
}

h1 {
    text-align: center;
}

.delete-icon {
    color: #e74c3c;
    cursor: pointer;
}

.delete-icon:hover {
    color: #c0392b;
}

#noConsultas {
    text-align: center;
    color: white;
    background-color: #1a364a;
    margin-top: 80px;
    font-size: 1.5rem;
    max-width: fit-content;
    margin-left: 35%;
    padding: 2%;
}