.container-map {
    background-color: #ffffff; /* background-color: #BBB4D6; */
    font-family: Poppins;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.map-regions {
    padding: 40px;
    align-items: center; 
    width: 45%; 
    height: auto; 
} 

.map-text  {
    color: #777777;
    width: 45%; 
    height: auto; 
}

.map-text h1 {
    color: #050f2c;
}